{% extends 'base.html' %}

{% block navlinks %}
    <a href="{% url 'sumu:home' %}" class="nav-item nav-link">TUMBUKA</a>
    <a href="{% url 'nyimbo:home' %}" class="nav-link">CHEWA</a>
{% endblock %}

{% block content %}
    {% for hymn in hymns %}
    {% include 'partials/_search.html' %}
    <h2 class="mb-5 text-center">{{ hymn.header_text }}</h2>
    
    <ul class="list-group mb-5">
        {% for title in hymn.title_set.all %}
        <li class="list-group-item">
            <h4>{{ title.hymn_number}}. {{ title.hymn_title }}</h4>
            {# <span class="badge badge-success float-right">{{ choice.votes }} vote{{ choice.votes | pluralize }}</span> #}
            <ol>
                {% for stanza in title.stanza_set.all %}
                <li><p class="lead mr-5 pr-5" style="width: 200px;">{{stanza.stanza_text}}</p></li>
                {% endfor %}
            </ol>
        </li>
        {% endfor %}
    </ul>

    {% endfor %}
{% endblock %}

{% block footer %}

{% endblock %}